/* Used for app only. Do not deploy with library! */

.ciq-spot {
    transition: bottom 100ms ease-out, opacity 100ms ease-out;
    width: 4px;
    height: 500px;
    left: -2px;
    position: relative;
    background-color: #e6d857;
    border-radius: 20px;

    &:after {
        content: '';
        width: 8px;
        height: 8px;
        left: 3px;
        bottom: 3px;
        position: absolute;
        border-radius: 20px;
        background-color: #fff;
    }
}

#root {
    display: flex;
}

/* Doorbell */

#doorbell-button {
    left: -30px;
    bottom: 30%;
    background: #4c5794;
    color: #fff;
    border: 1px solid #4c5794;
    border-bottom: none;
    padding: 4px 8px;
    transform: rotate(90deg);
    max-width: 80px;
}

#doorbell form {
    box-shadow: none;
    border: 1px solid #4c4c4c;

    input, textarea {
        outline: 0;

        &:focus {
            border: 1px solid #4c5794;
        }
    }
    #doorbell-submit-button {
        color: #4c5794;
        border: none;
        background: #fff;

        &:hover {
            background: #fff;
        }
    }
}

#doorbell-background {
    opacity: 0;
}

.smartcharts-mobile {
    /*
      For charts app, we want the chart controls to still
      be visible when its dropdown shows up. To do this we
      assume the height of the chart controls is always 40px
      in mobile:
     */
    .ciq-period, .cq-download, .ciq-views, .ciq-drawtools, .ciq-studies, .cq-chart-setting, .ciq-draw-tools, .cq-comparison-new, .ciq-chart-types {
        .cq-menu-overlay {
            height: calc(100% - 40px);
        }
    }
}
